header h1 {
  font-family: Lato, sans-serif;
  font-weight: 100;
  color: #fff;
}
header p {
  font-family: Lora, serif;
  font-style: italic;
  color: #b8b8b8;
}
section:nth-of-type(1) h2 {
  font-family: Oswald, sans-serif;
  color: #fdcd84;
}
section:nth-of-type(1) h4 {
  font-family: Merriweather, serif;
  color: #cbb8a0;
}
section:nth-of-type(1) p {
  font-family: Merriweather, serif;
  font-weight: 300;
  color: #000;
}
section:nth-of-type(2) h3 {
  font-family: Lora, serif;
  font-weight: 700;
  font-style: italic;
  color: #5f5d66;
}
section:nth-of-type(2) p {
  font-family: Lato, sans-serif;
  text-align: center;
  color: #5f5d66;
}
section:nth-of-type(3) h3 {
  font-family: Oswald, sans-serif;
  color: #247a5a;
}
section:nth-of-type(3) p {
  font-family: Lato, sans-serif;
  color: #464646;
}
section:nth-of-type(4) h3 .font-change {
  font-family: Lato, sans-serif;
}
section:nth-of-type(4) h3 {
  font-family: Oswald, sans-serif;
  color: #a97d35;
}
section:nth-of-type(4) li {
  font-family: Oswald, sans-serif;
  color: #e0e0e0;
}
section:nth-of-type(5) h3 {
  font-family: Oswald, sans-serif;
  color: #fff;
}
section:nth-of-type(5) p {
  font-family: Merriweather, serif;
  font-weight: 300;
  color: #fff;
}
section:nth-of-type(5) a {
  color: #b8b1ad;
}
section:nth-of-type(6) h3 {
  font-family: Oswald, sans-serif;
  color: #000;
}
section:nth-of-type(6) p.emphasis {
  font-family: Oswald, sans-serif;
  color: #000;
}
section:nth-of-type(6) p {
  font-family: Merriweather, serif;
  font-weight: 300;
  color: #000;
}
section:nth-of-type(7) h3 {
  font-family: Oswald, sans-serif;
  color: #fff;
}
section:nth-of-type(7) p#review {
  font-family: Lora, serif;
  font-style: italic;
  color: #fff;
}
section:nth-of-type(7) p {
  font-family: Oswald, sans-serif;
  color: #75a8d0;
}
section:nth-of-type(8) p {
  font-family: Lora, serif;
  font-style: italic;
  text-align: justify;
}
form h2 {
  font-family: Oswald, sans-serif;
}
form label {
  font-family: Lato, sans-serif;
}
footer {
  font-family: Lato, sans-serif;
}
footer address {
  font-family: Merriweather, serif;
  font-style: normal;
  float: right;
}
