body {
  margin: 0 auto;
  width: 1058px;
}
/*** masthead ***/
header p { 
  float: right;
  padding: 115px 120px 0 0;
}
/*** main content ***/
article {
  position: relative;
}
article > h1 {
  margin-left: 20px;
  z-index: -500;
}
div.header-background {
  margin-left: -140px;
  position: absolute;
  top: 0;
  left: 0;
  width: 592px;
  height: 1034px;  
  z-index: -1000;
}
div.border-box-background {
  position: absolute;
  top: 664px;
  left: 0;
  width: 592px;
  height: 370px;
  margin-left: -140px;
  z-index: -1000;
}
/*** positioning relatives ***/
section:nth-of-type(1) {
  float: right;
  margin-bottom: 20px;
  width: 595px;
}
section:nth-of-type(1) h1 {
  margin: 0 50px 20px -25px; /*margin & padding to match background gradient*/
  padding: 3px 3px 3px 45px;
  display: inline-block;
}
section:nth-of-type(1) h2 {
  margin: 25px 50px 0 25px;
}
section:nth-of-type(1) p {
  margin: 0 50px 0 25px;
}
section:nth-of-type(1) img:nth-of-type(1) {
  position: absolute;
  top: 150px;
  left: 375px;
  z-index: -900;
}
section:nth-of-type(1) img:nth-of-type(2) {
  position: absolute;
  top: 649px;
  left: 300px;
  z-index: -800;
}
/*** box model ***/
section:nth-of-type(2) {
  float: left;
  position: relative;
  margin-top: -40px;
  padding-left: 30px;
  width: 423px;
  height: 310px;
  z-index: 0;
}
section:nth-of-type(2) h1 {
padding-bottom: 20px;
}
section:nth-of-type(2) p {
  padding: 0px 25px; 
}
/*** box model ***/
section:nth-of-type(2) figure {
  margin: 0 0 10px -48px; /*positions image off-center*/
}
/*** staying afloat ***/
section:nth-of-type(3) {
  float: left;
  width: 170px;
  clear: both;
}
section:nth-of-type(3) p {
  margin: 15px 0 10px 35px;
}
section:nth-of-type(3) figure {
  position: relative;
  top: 20px;
  left: 45px;
  width: 145px;
  z-index: 10;
}
/*** bullets ***/
section:nth-of-type(4) {
  float: right;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 82%;
  clear: right;
}
section:nth-of-type(4) h1 {
  padding: 10px;
  margin-right: 40px;
}
section:nth-of-type(4) h1 .font-change {
  position: relative; 
  top: -2px;
}
section:nth-of-type(4) figure {
  float: left;
  margin-top: 20px;
}
section:nth-of-type(4) figcaption {
  position: relative;
  margin-top: -160px;
  padding-bottom: 35px;
  z-index: -10;
}
section:nth-of-type(4) img {
  margin-left: 30px;
  margin-bottom: 90px;
}
section:nth-of-type(4) figure:nth-of-type(1) figcaption {
  padding-top: 25px;
}
section:nth-of-type(4) figure:nth-of-type(2) figcaption {
  padding-top: 25px;
}
section:nth-of-type(4) figure:nth-of-type(3) figcaption {
  padding-top: 55px;
}
section:nth-of-type(4) figure:nth-of-type(4) figcaption {
  padding-top: 0px;
}
section:nth-of-type(4) figure:nth-of-type(5) figcaption {
  padding-top: 7px;
}
section:nth-of-type(4) figure:nth-of-type(1) {
  margin-left: 10px;
  width: 156px; 
}
section:nth-of-type(4) figure:nth-of-type(2) {
  width: 164px;
}
section:nth-of-type(4) figure:nth-of-type(3) {
  width: 156px;
}
section:nth-of-type(4) figure:nth-of-type(4) {
  width: 162px;
}
section:nth-of-type(4) figure:nth-of-type(5) {
  margin-right: 0;
  width: 171px;
}
/*** famous blocks ***/
section:nth-of-type(5) {
  width: 960px;
  margin: 0 auto;
  clear: both;
}
section:nth-of-type(5) figure {
  position: relative;
}
section:nth-of-type(5) figcaption {
  position: relative;
  margin-top: -33px;
  padding: 70px 25px 30px 25px;
  z-index: -100;
}
section:nth-of-type(5) a {
  padding-top: 30px;
}
section:nth-of-type(5) a img {
  position: absolute;
  top: 505px;
  right: 0px;
}
/*** border bottom ***/
section:nth-of-type(6) {
  position: relative;
  margin: 35px 0 25px 50px;
  z-index: -110;
}
section:nth-of-type(6) h1 {
  padding-bottom: 20px;
}
section:nth-of-type(6) h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}
section:nth-of-type(6) img {
  margin-top: -180px;
}
/*** transformers ***/
section:nth-of-type(7) {
  position: relative;
  width: 235px;
  height: 715px;
  margin: -745px 0 0 775px;
  z-index: -100;
}
section:nth-of-type(7) h1 {
  width: 195px;
  margin: -100px 15px 5px 15px;
  padding-bottom: 10px;
}
section:nth-of-type(7) p:first-of-type {
  width: 195px;
  margin: 5px 15px 5px 0px;
  padding-left: 20px;
  padding-bottom: 20px;
}
section:nth-of-type(7) p:nth-of-type(2) {
  padding: 35px 0 60px 20px;  
}
.line-spanner {
  margin-left: 5px;
}
section:nth-of-type(7) ul {
  margin: 10px 15px 0 15px;
}
section:nth-of-type(7) li:first-of-type {
  margin-top: 20px;
}
section:nth-of-type(7) img:first-of-type { /*dvd case image*/
  margin: -100px 0 0 -30px; 
}
section:nth-of-type(7) img:nth-of-type(2) { /*rating bar image*/
  float: left;
  margin: -35px 0 0 20px; 
}
.dashed-border {
  position: absolute;
  right: 0;
  top: 376px;
  width: 235px;
  height: 144px;
}
.circle{
  position: absolute;
  bottom: -14px;
  right: 108px;
  width: 28px;
  height: 28px;
  z-index: 1000;
}
/*** overflow ***/
section:nth-of-type(8) {
  width: 960px;
  margin: 0 auto;
}
section:nth-of-type(8) img {
  margin-left: -40px;
  margin-top: -18px;
}
section:nth-of-type(8) p:nth-of-type(1) {
  margin-top: -240px;
}
section:nth-of-type(8) p:nth-of-type(2) {
  margin: 10px 0 0 10px;
}
section:nth-of-type(8) p:nth-of-type(3) {
  margin-top: 40px;
  margin-left: 140px;
}
/*** registration form ***/
form h1 {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
}
/*** footer ***/
footer {
  margin-bottom: 80px;
  padding-top: 23px;
  width: 960;
}
footer address {
  float: right;
}
